@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #965d62;
  min-height: 100vh;
  margin: 0;
  position: relative; /* Necessário para posicionar o background atrás */
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(..///assets/Background/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(0px);
  transform: scale(1.05);
  z-index: -1;
}

.main-agendamento, .main-login, .main-userpage {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.box {
  background-color: #2b222c;
  height: fit-content;
  width: 23rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  font-size: 2rem;
  color: #f2d974;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}

.input, .select {
  background-color: #5e4352;
  width: 18rem;
  height: 2rem;
  border-radius: 20px;
  outline: none;
  border: 1px solid #965d62;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  color: #c7956d;
}

.input:focus {
  border: 1px solid #c7956d;
}

.label {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  color: #f2d974;
  align-self: flex-start;
}

.day-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #5e4352;
  padding: 1rem;
  border-radius: 20px;
}
.day-box span {
  font-size: 1rem;
  color: #f2d974;
}

.days {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}
.days input[type=radio] {
  display: none;
}

.btn {
  border-radius: 20px;
  outline: none;
  border: 1px solid #c7956d;
  background-color: #965d62;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  color: #2b222c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  border: 1px solid #f2d974;
  background-color: #965d62;
  transform: scale(1.1);
}

input[type=radio]:checked + .btn {
  border: 1px solid #f2d974;
  background-color: #c7956d;
}

.btn-locked {
  border: none;
  background-color: #2b222c;
  color: #5e4352;
  opacity: 0.5;
  cursor: auto;
}

.btn-locked:hover, .btn-locked:focus {
  border: none;
  background-color: #2b222c;
  transform: none;
  cursor: auto;
}

.submit-button {
  margin: 2rem 0;
  width: 10rem;
}

.login-button {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 1rem;
  padding: 1rem;
  outline: none;
  border: 1px solid #2b222c;
  background-color: #c7956d;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.login-button img {
  width: 1rem;
}
.login-button span {
  font-size: 1rem;
  color: #2b222c;
  font-weight: bold;
}

.login-button:hover {
  border: 1px solid #2b222c;
  background-color: #5e4352;
  transform: scale(1.1);
}
.login-button:hover span {
  color: #f2d974;
  font-weight: bold;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin: 1rem 0 0 1rem;
  gap: 0.2rem;
  text-decoration: none;
}
.back-button svg {
  width: 1rem;
  fill: #965d62;
  height: fit-content;
}
.back-button span {
  font-size: 1rem;
  color: #965d62;
  font-weight: bold;
  height: fit-content;
}

.back-button:hover svg, .back-button:hover span {
  fill: #f2d974;
  color: #f2d974;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.main-userpage {
  margin-top: 0;
}

.back-button-box {
  width: 23rem;
  height: fit-content;
}
.back-button-box .back-button {
  margin: 1rem 0 0;
  background-color: #2b222c;
  width: fit-content;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  transition: all 0.2s ease-in-out;
}

.header {
  background-color: #2b222c;
  width: 24rem;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-bar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  margin: 1rem 0 1rem 0;
  background-color: #965d62;
}
.header .nav-bar button {
  cursor: pointer;
  border: none;
  background-color: #965d62;
  font-size: 1rem;
  color: #c7956d;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.header .nav-bar button.active {
  color: #f2d974;
}
.header .nav-bar button.active::after {
  content: "";
  width: 80%;
  background-color: #f2d974;
  opacity: 1;
}
.header .nav-bar button::after {
  content: "";
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  opacity: 0;
  bottom: -0.2rem;
}
.header .nav-bar button:hover {
  color: #f2d974;
}

#financas, #agenda {
  background-color: #2b222c;
  height: fit-content;
  width: 24rem;
  border-radius: 0 0 20px 20px;
}

.agenda-box {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  display: flex;
  -webkit-overflow-scrolling: touch;
  gap: 0.1rem;
}

.day-column {
  min-width: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day-column .day-tittle {
  color: #f2d974;
  padding: 1rem 0;
}
.day-column .agenda-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #5e4352;
  padding: 1rem;
  border-radius: 20px;
  margin: 0.1rem;
  width: 22rem;
  height: 8rem;
  gap: 1rem;
}
.day-column .agenda-item .time {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.day-column .agenda-item .time span {
  font-weight: bold;
  font-size: 1.6rem;
  color: #c7956d;
}
.day-column .agenda-item .time .vertical-line {
  height: 5rem;
  width: 0.08rem;
  background-color: #965d62;
}
.day-column .agenda-item .add-button {
  background-color: #965d62;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.day-column .agenda-item .add-button img {
  width: 2rem;
}
.day-column .agenda-item .add-button:hover {
  background-color: #c7956d;
  transform: scale(1.1);
  box-shadow: 0 0 3px #f2d974;
}
.day-column .agenda-item .info {
  flex-grow: 1;
  max-width: 10rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  color: #f2d974;
}
.day-column .agenda-item .info .client-name {
  font-weight: bold;
  font-size: 1.2rem;
}
.day-column .agenda-item .info .client-number {
  font-weight: normal;
  font-size: 0.8rem;
}
.day-column .agenda-item .toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 2px;
  width: 5rem;
  height: 6.5rem;
  position: relative;
  border-radius: 8px;
  position: relative;
  float: right;
}
.day-column .agenda-item .toggle .toggle-btn {
  background-color: #965d62;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.day-column .agenda-item .toggle .toggle-btn:hover {
  background-color: #c7956d;
  transform: scale(1.1);
  box-shadow: 0 0 3px #f2d974;
}
.day-column .agenda-item .toggle .toggle-btn span {
  width: 6px;
  height: 6px;
  background-color: #2b222c;
  border-radius: 50%;
  display: block;
  box-shadow: 0 -7px 0 0 #2b222c, 0 7px 0 0 #2b222c;
}
.day-column .agenda-item .toggle .toggle-options {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 2px;
  z-index: 1;
  background-color: #c7956d;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform-origin: top right;
  transform-origin: 100% 0%;
}
.day-column .agenda-item .toggle .toggle-options.is-open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.day-column .agenda-item .toggle .toggle-options .toggle-op {
  border: none;
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background-color: #965d62;
  border-radius: 20px;
  font-size: 0.7rem;
}
.day-column .agenda-item .toggle .toggle-options .toggle-line {
  background-color: #f2d974;
  width: 70%;
  height: 0.08px;
}

.popup-blur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.491);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.popup-blur .popup {
  background-color: #2b222c;
  height: fit-content;
  width: 20rem;
  border-radius: 20px;
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #5e4352;
}
.popup-blur .popup .close-button {
  margin: 1rem 1rem auto auto;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
.popup-blur .popup .close-button img {
  height: 100%;
}
.popup-blur .popup .popup-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#financas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 20rem;
}
#financas .financas-amount {
  margin-top: 1rem;
  background-color: #5e4352;
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 0.3rem;
  width: 9rem;
  height: 3rem;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}
#financas .financas-amount p {
  color: #2b222c;
}
#financas .financas-amount h2 {
  color: #31a252;
}
#financas .financas-historico {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2b222c;
}
#financas .financas-historico .historico-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: fit-content;
  margin-bottom: 1rem;
}
#financas .financas-historico .historico-title span {
  margin: 0;
  display: block;
}
#financas .financas-historico .historico-title .financas-line {
  width: 1rem;
  height: 1px;
  background-color: #965d62;
}
#financas .financas-historico .historico-title .financas-title {
  color: #965d62;
  font-size: 1rem;
}
#financas .financas-historico .historico-item {
  background-color: #5e4352;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 2rem;
  position: relative;
}
#financas .financas-historico .historico-item .item-date {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  left: 5px;
  font-size: 0.8rem;
}
#financas .financas-historico .historico-item .item-value {
  color: #31a252;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
#financas .financas-historico .historico-item .item-description {
  position: absolute;
  height: fit-content;
  right: 5px;
  bottom: 2px;
  font-size: 0.8rem;
}

/*# sourceMappingURL=index.css.map */
